{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}
    <div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
        <div class="col-8">
            <h2>Księga rekordów</h2>
            <p>Naciśnij aby zobaczyć.</p>
            <table class="table table-hover table-dark">
                <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">Nazwa rekordu</th>
                    <th scope="col">Wartość rekordu</th>
                    <th scope="col">Szkoła</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Your rows inside the table HERE: -->
                {% for item in items %}
                    {% include 'includes/items_modals.html' %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.value }}</td>
                        <td>{{ item.school_name }}</td>
                        <td>{{ item.category }}</td>
                        <td>
                            <button class="btn btn-outline btn-info" data-toggle="modal"
                                    data-target="#Modal-MoreInfo-{{ item.id }}">Więcej informacji
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Dodaj swoją szkołę</h2>
            <p>Aby dołączyć swoją szkołę
            do księgi rekordów napisz emial na
            <a href="mailto://{{ mail }}">{{ mail }}</a>
            </p>
        </div>
    </div>
{% endblock %}